$head-color: #3F51B5;
$white: #fff;
body {
	font-family: "游ゴシック体", "Yu Gothic", yugothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #333;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #fff;
	overflow-x: hidden;
	overflow-wrap: break-word;
}
.img {
	max-width: 100%;
	height: auto;
	border: none;
}
.container {
    width: 95%;
    margin: 0 auto;
    max-width: 100%;
    height: inherit;
}

a {
    text-decoration: none;
    color: $white;
}

.clear{
    clear:both
}

h1 {
    font-weight: bold;
    color: rgb(43, 40, 40);
}
@mixin button($color) {
    font-size: 18px;
    font-weight: bold;
    width: 200px;
    cursor: pointer;
    padding: 19px 30px;
    color: $white;
    border-radius: 12px;
    border: $color;
    background-color: $color;
}

@mixin button1($color) {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    padding: 19px 30px;
    color: $white;
    border-radius: 12px;
    border: $color;
    background-color: $color;
}

/*===============
header
================*/
header {
    background-color: $head-color;
    width: 100%;
    position: fixed;
    z-index: 100;
    .header-wrapper {
        width: 100%;
        display: flex;
        height: 80px;
        line-height: 80px;
        .left {
            width: 100%;
            font-size: 20px;
        }
        .right {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            .contents {
                display: flex;
                .content {
                    padding-left: 20px;
                    :hover {
                        color: aqua;
                    }
                }
            }
        }
    }
}

/*==============
top
==============*/

.top {
    padding-top: 80px;
    background: transparent url(../img/clear.jpg) no-repeat top center/cover;
    overflow: hidden;
    backdrop-filter: blur(100px);
    height: 600px;
    .top-wrapper {
        text-align: center;
        padding-top: 200px;
        h1 {
            color: #333;
            font-size: 30px;
            margin-bottom: 50px;
        }
        p {
            font-size: 20px;
        }
    }
}

/*=============
main
=============*/

@media (max-width: 760px) {
    main {
        
        height: auto;
        background-color: #EFEFEF;
        .main-wrapper {
            padding-top: 50px;
            width: 100%;
            height: auto;
            .main-left {
               
                width: 100%;
                
                img {
                    width: 100%;
                    height: 200px;
                    border-radius: 12px;
                    overflow: hidden;
                    object-fit: cover;
                }
            }
            .main-right {
                padding-top: 30px;
                padding-bottom: 30px;
                width: 100%;
                h2 {
                    font-weight:  bold;
                    font-size: 18px;
                    margin-bottom: 20px;
                }
                
                p {
                    line-height: 2em;
                }
            }
        }
    }
}
@media (min-width: 760px) {
    main {
        height: auto;
        background-color: #EFEFEF;
        .main-wrapper {
            display: flex;
            justify-content: space-between;
            padding-top: 50px;
            width: 100%;
            height: 400px;

            .main-left {
                width: 45%;
                height: 60px;
                
                img {
                    width: 100%;
                    height: 300px;
                    border-radius: 12px;
                    overflow: hidden;
                    object-fit: cover;
                }
            }
            .main-right {
                padding-top: 30px;
                width: 45%;
                h2 {
                    font-weight:  bold;
                    font-size: 18px;
                    margin-bottom: 20px;
                }
                
                p {
                    line-height: 2em;
                }
            }
        }
    }
}

/*============
main2
============*/
@media(max-width: 725px) {
    .main2 {
        width: 100%;
        height: auto;
    
        .greet {
            padding-top: 80px;
        }
    
        .main2-wrap {
            display: flex;;
            justify-content: space-between;
            flex-wrap: wrap;
            .main2-wrapper {
                
                .table {
                    background-color: rgb(152, 213, 248);
                    border-collapse: collapse;
                    
                    th, td {
                        padding: 1px;
                        border: 1px solid black;
                        
                    }
                    .resCon {
                        display: flex;
                        flex-wrap: wrap-reverse;
                    }
                }
            }
            .main3-wrapper {
                .table {
                    background-color: rgb(152, 213, 248);
                    border-collapse: collapse;
                    
                    th, td {
                        padding: 10px;
                        border: 1px solid black;
                        
                    }
                }
            }    
        }
    }
}

@media(min-width: 725px) {
    .main2 {
        width: 100%;
        height: auto;
    
        .greet {
            padding-top: 80px;
        }
    
        .main2-wrap {
            display: flex;;
            justify-content: space-between;
            flex-wrap: wrap;
            .main2-wrapper {
                
                .table {
                    background-color: rgb(152, 213, 248);
                    border-collapse: collapse;
                    
                    th, td {
                        padding: 10px;
                        border: 1px solid black;
                        
                    }
                }
            }
            .main3-wrapper {
                .table {
                    background-color: rgb(152, 213, 248);
                    border-collapse: collapse;
                    
                    th, td {
                        padding: 10px;
                        border: 1px solid black;
                        
                    }
                }
            }    
        }
    }
}



/*===============
Contact
===============*/

.contact {
    height: auto;
    background-color: #EFEFEF;
    .contact-head {
        text-align: center;
        .contact-top {
            margin-top: 120px;
            font-size: 30px;
            font-weight: bold;
        }
        .color {
            width: 60px;
            height: 4px;
            background-color: #3F51B5;
            display: inline-block;
        }
    }

    .contact-wrapper {
        background-color: #FFFFFF;
        margin: 0 auto;
        
        .media {
            display: flex;
        }

        .form {
            input[type="text"] {
                width: 100%;
                height: 40px;
                margin: 20px 0;
            }
            textarea {
                width: 100%;
                
            }
            .must {
                background-color: #E8191e;
                color: $white;
                border-radius: 4px;
                margin-left: 10px;
                padding: 0 5px;
            }
            .contact-name-content {
                margin: 20px 0;
            }
        }
        .btn {
            float: right;
            margin-bottom: 120px;
            input[type="submit"] {
                background-color: $head-color;
                color: $white;
                border: 1px solid $head-color;
                border-radius: 4px;
                padding: 5px 10px;
                font-size: 18px;
                &:hover {
                    opacity: 0.7;
                    cursor: pointer;
                }
            }
        }
    }
}

/*=============
login
=============*/

@media (max-width: 650px) {
    .login {
        background-color: #fff;
        padding-top: 100px;
        
        .login-wrapper {
            text-align: center;
            height: 400px;
            
            .con {
                padding-bottom: 50px;
                h2 {
                    font-weight: bold;
                    font-size: 30px;
                }
            }
            .btn {
                width: 100%;
                
                .login-btn {
                    margin-bottom: 40px;
                    
                    @include button1($head-color);
                    
                }
                .new-btn {
                    @include button1($head-color);
                }
            }
        }
    }
}

@media (min-width: 650px) {
    .login {
        background-color: #fff;
        padding-top: 100px;
        
        .login-wrapper {
            text-align: center;
            height: 400px;
            
            .con {
                padding-bottom: 50px;
                h2 {
                    font-weight: bold;
                    font-size: 30px;
                }
            }
            .btn {
                width: 100%;
                display: flex;
                justify-content: space-around;
                .login-btn {
    
                    @include button($head-color);
                    
                }
                .new-btn {
                    @include button($head-color);
                }
            }
        }
    }
}



/*===============
footer
===============*/
footer {
    background-color: #333;
    height: 300px;
}


/*===============
responsive
===============*/

@media (max-width: 900px) {

}